* {
  
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  text-align: center;
  border-bottom: 2px solid black;
}

tr td.td-padding {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  width: 75px;
}

#input-submit {
  margin: 10px;
  width: 50%;
}

.ui-spinner {
  margin-top: 7px;
  margin-bottom: 7px;
  height: 40px;
}

#spinner {
  height: 50px;
  width: 60px;
  text-align: center;
  margin-right: 20px;
}

.ui-spinner {
  width: 140px;
  height: 60px;
}

.ui-spinner > .ui-spinner-button {
  width: 60px;
  height: 30px;
}

#spinner-container {
  display: flex;
  flex-direction: column;;
  justify-content: center;
  margin-bottom: 10px;
}

#spinner-label {
  margin-right: 20px;
}

html p {
  margin-bottom: 5px;
}

#algorithm-steps {
  margin-left: 5%;
  margin-right: 5%;
}

#logo {
  margin-top: 20px;
  max-width: 20%;
}

#banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#adjustment-modules {
  display: flex;
}

#previous-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

#previous-gpa {
}
